<div class="container">
    <h2>Checkout Form</h2>
    <form [formGroup]="checkoutForm" (ngSubmit)="onCheckout()">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                placeholder="Enter email">
            <div *ngIf="checkoutForm.get('email').touched  && checkoutForm.get('email').invalid">
                <small id="emailHelp" class="form-text text-danger"
                    *ngIf="checkoutForm.get('email').errors.required">Enter email
                    address.</small>
                <small id="emailHelp" class="form-text text-danger" *ngIf="checkoutForm.get('email').errors.email">Enter
                    valid email
                    address.</small>
            </div>
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input formControlName="quantity" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Items</label>
            <button type="button" class="btn btn-secondary ml-5" (click)="addNewItem()">Add Item</button>
            <div formArrayName="items">
                <div *ngFor="let item of checkoutForm.controls.items['controls'];let i=index" [formGroupName]="i">
                    <a routerLink (click)="removeItem(i)">Remove Item</a>
                    <input class="form-control" type="text" formControlName="itemName">
                    <input class="form-control" type="text" formControlName="itemDesc">
                    <input type="checkbox" formControlName="itemDone">Mark as Done
                </div>

            </div>
        </div>
        <div class="form-check">
            <input formControlName="terms" type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Agree to terms</label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!checkoutForm.valid">Checkout</button>
        <button type="button" class="btn btn-secondary ml-2" (click)="loadData()">Load Data</button>

    </form>
</div>