<!-- Structural directives -->
<!-- <div *ngIf="showValue">Welcome to one conversion</div> -->
<ng-template #elseBlock>
    <div>Welcome to ARC tutorials 1</div>
</ng-template>

<ng-template #thenBlock>
    <div>Welcome to ARC tutorals 2</div>
</ng-template>

<div *ngIf="showValue ;then thenBlock; else elseBlock"></div>

<!-- switch case -->
<div [ngSwitch]="switchValue">
    <div *ngSwitchCase="1"> 1 displayed</div>
    <div *ngSwitchCase="2">2 displayed</div>
    <div *ngSwitchDefault>default value</div>

</div>
<!-- ngFor structural directive -->
<p>Display users</p>
<div *ngFor="let user of users;index as i;first as f;last as l;even as e;odd as o">
    <div>{{i+" "}}{{f +" "}}{{e +" "}}{{o+" "}}{{user.name}} {{user.email}}</div>
</div>

<div [ngStyle]="{'color':'red'}">Example1</div>
<!-- dynamically set value -->
<div [ngStyle]="{'color':colorval}">Example2-dynamically set value</div>
<div [ngStyle]="{'color':colorval,'background-color':bgcolor}">Example 3</div>

<div [ngClass]="'one'">Using ngClass with string example</div>
<div [ngClass]="{'one':true,'two':false}">with multiple class names- with conditions, expression evaluations</div>
<div [ngClass]="clsName">using dynamic class names</div>
<div [ngClass]="[clsName1, clsName2]">Apply multiple class names using array of classes </div>

<!-- Data Binding- can be integers, strings, objects, arrays and much more -->
<div>{{subTitle}}</div>
<div>{{epNum}}</div>
<div>{{users}}</div>

<!-- Property Binding -->
<!-- Existing property of an HTML element, so can bind it,  -->
<p [innerHTML]="subTitle">s</p>
<input [placeholder]="placeholderval">

<!-- Attribute binding -Attribute means i can have custom property and then i can bind it.  -->
<!-- attr.updateLink property does not exist on anchor tag by default. This is  acustom attribute property 
that we are defining. -->
<a [href]="hrefVal" [attr.updateLink]="updatedLink" [attr.data-link]="updatedLink">Link</a>

<!-- event binding -->
<button (click)="onClick(7)">Show Alert</button>
<!-- two way binding -->
<input type="text" [(ngModel)]="inputValue">
<p>{{inputValue}}</p>

<!-- pipes -->
<!-- Pipes are used to transform the data. Pipes will take data input and convert/transform into a desired format.
We can apply pipes to any view/template and to any data inputs. -->
<!-- Built in pipes- lowercase, Uppercase, Currency, Date.
Parametrized PIpes- we can pass one or more parameters to pipes
CHaining pipes- we can connect multiple pipes to data input. 
Custom pipes- we can create our own custom pipes for various data formatting. -->
<div>
    <p>{{ user |json}}</p>
    <p>{{user.dob | date:'short'| lowercase}}</p>
    <p>{{user.dob | date:'longDate'}}</p>
    <p>{{user.salary | currency:'USD':'code' :'3.0-0'}}</p>
</div>

<!-- Custom PIpes- -->
<!-- We can create custom pipes in our application. ng generate pipe highlight
import Pipe and PipeTransform from the @angular/core 
Pipes are declared with the decorator @pipe and provide the selector name -->
<!-- <div>{{userDemo.city | highlight:userDemo.city}}</div> -->
<ul>
    <li *ngFor="let userDemo of userDemos">
        <div [innerHTML]="userDemo.city | highlight:userDemo.cityCode"></div>
    </li>
</ul>
<!-- hands on examples of custom pipes -->
<!-- 1.formatting a phone number
2. Highlighting the result keyword
3. hIghlighting tax return or percentage. -->

